h1 {
  font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
  font-style: bold;
  color: white;
  margin-left: 5px;
}

h2 {
  font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
  font-size: 300%;
  font-style: normal;
  color: white;
}

body{
	background-color: green;
}

ul
{
    list-style-type: none;
}

button {
	font-weight: bold;
	font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;

}
input {
	margin-bottom: 10px;
	margin-left: 5px;
}

.result {
color: white;
font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
margin-bottom: 10px;
}

.error {
	color: red;
	font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
	font-style: 
}


.center {
	width:300px;
	height:200px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-100px 0 0 -150px;
	text-align: center;
}

.soylent {
	display:block;
	margin: 0 auto;
}
