h1 {
  font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
  font-style: bold;
  color: green;
}

.result {
color: green;
font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
margin-bottom: 10px;
}