<div ng-controller = 'mainController'>
		<h1> NutriSearch </h1>
		<input id='search' ng-model= 'input'> 
		<button id='submit' ng-click= 'getData(input)'>Search </button>
		<ul class = 'results'>
			<li class='result' ng-model= 'results' ng-repeat='food in results' ng-show='show'>
				<div class='name'> Name: {{food.name}} </div>
				<div class='calories'> Calories : {{food.calories}}</div>
				<div class='fat'> Total Fat(g): {{food.fat}}</div>
			</li>

		</ul>
		<div class='error' ng-show='error'>
			<h3> Sorry, no results matched your search. </h3>
		</div>

</div>